<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles/about.css" />
    <link rel="shortcut icon" href="/static/styles/fic1.png" type="image/x-icon">
    <title>ExRep-About</title>
</head>
<body>
    <img class="logo-img" src="/static/styles/logs.png">
    <nav>
    <ul>
        <li><a href="{{ url_for('content') }}">Home</a></li>
        <li><a href="{{ url_for('about')}}">About</a></li>
        <li><a href="{{ url_for('faq')}}">FAQ</a></li>
        <li><a href="{{ url_for('login')}}">Login</a></li>
    </ul>
    </nav>
    <br><br><br>

    <div class="main">
    <h1>About</h1>
    <p class="p1">Our goal is to allow a person to get an idea about the necessary amount required according to their own health status. Later they can comply with any health insurance company and their schemes & benefits keeping in mind the predicted amount. This can help a person in focusing more on the health aspect of an insurance rather than the futile part.</p>
<br><br>
<p>
Health insurance is a necessity nowadays, and almost every individual is linked with a government or private health insurance 
company. Factors determining the amount of insurance vary from company to company. Also people in rural areas are unaware of the 
fact that the government of India provide free health insurance to those below poverty line. It is very complex method and some 
rural people either buy some private health insurance or do not invest money in health insurance at all. Apart from this people 
can be fooled easily about the amount of the insurance and may unnecessarily buy some expensive health insurance.</p>
<br><br>
<p>
Our project does not give the exact amount required for any health insurance company but gives enough idea about the amount 
associated with an individual for his/her own health insurance. Prediction is premature and does not comply with any particular 
company so it must not be only criteria in selection of a health insurance. Early health insurance amount prediction can help in 
better contemplation of the amount needed. Where a person can ensure that the amount he/she is 
going to opt is justified. Also it can provide an idea about gaining extra benefits from the health insurance.</p>
</div>
<br><br>
</body>
</html>