@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body{
  background-color:rgb(0, 0, 0);
  position: relative;
  background-image: url("login.jpg");
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  background-blend-mode: screen;
  height: 100%;
  width: 100%;
}

.logo-img{
  float: left;
  position: relative;
  margin: 5px 15px 15px 10px;
  width: 20%;
  height: 80px;
  font-variant-alternates:"align box";
  align-self: center;
}

nav{
  width: 100%;
  height: 80px;
  background-color: rgba(173, 173, 173, 0.333);
  line-height: 80px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  font-weight: bold;
  font-size: large;
}
nav ul li:hover{
  background-color:rgb(119, 193, 228);
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 40px;
}


h2{
    position: relative;
    color: white;
    text-align: center;
    display: block;
    z-index: 17;
    font-size: 20pt;
}

a {
    text-decoration: none;
}


.content{
  position: absolute;
  top: 290%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  width: 370px;
  padding: 60px 32px;
  background: rgba(255,255,255,0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header{
  color: white;
  font-size: 34px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
}

.field{
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.94)
}

.field span{
  color: #222;
  width: 40px;
  line-height: 53px;
}

.field input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-family:"Poppins", sans-serif;
}

.show{
  position: absolute;
  margin-right: 8px;
  right: 13px;
  font-size: 14px;
  font-weight: bold;
}

.password:valid ~ .show{
  display: block;
}

.space{
  margin-top: 16px;
}

.pass{
  text-align: left;
  margin: 10px 0;
}

.pass a{
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.pass:hover a{
  text-decoration: underline;

}

input[type="submit"]{
  background: #3499dd;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;

}

input[type="submit"]:hover{
  background: #2691d9;
}

.login{
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

.link{
  display: flex;
  cursor: pointer;
  color:#fff;
  margin: 0 0 20px 0;
}

.fb, .insta{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  background: #4267B2;
  border: 1px solid #3e61a8;
}

.link i{
  font-size: 17px;
}

.link span{
  font-size: 16px;
  margin-left: 8px;
}

.acc{
  color: white;
  font-size: 16px;
}

.acc a{
  color: #7aa3f5;
  cursor: pointer;
  margin-left: 10px;
}

.acc a:hover{
  text-decoration: underline;
}
